body {
    margin: 0;
    width: 100%;
  }
  
  .carousel-inner {
    height: 500px;
    width: 100%;
  }
  .carousel-inner .carousel-item.overflow-hidden {
    height: 500px;
    width: 100%;
  }
  .carousel-inner .carousel-item.overflow-hidden img.object-fit-cover {
    height: 500px;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;}